---
import Layout from "../layouts/Layout.astro";
import NuestrosProyectos from "../components/NuestrosProyectos.astro";
---

<Layout title="Proyectos">
    <section>
        
        
        <NuestrosProyectos />
    </section>
</Layout>