<h2 class="font-semibold text-[#ff9c0d] text-2xl text-center lg:text-4xl border-b p-10 lg:p-16">Que opinan nuetros clientes?</h2>
<section class="w-full  mx-auto flex flex-col md:grid grid-cols-3 gap-7 items-center">
    <div class="card md:hidden flex item-center justify-center">
        <img src="/img/opinion/01.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/02.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/03.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/04.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/05.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/06.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/07.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/08.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/09.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/10.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem]">
        <img src="/img/opinion/12.webp" class="card" width="900" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/13.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/14.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/15.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/16.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/17.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/18.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/19.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] flex item-center justify-center">
        <img src="/img/opinion/20.webp" width="900" height="372" title="img">
    </div>
</section>

<style>
    .card{
        background-size: cover;
        background-repeat: no-repeat;
        object-fit:cover;
    }

</style>