<h2 class="font-semibold text-[#ff9c0d] text-2xl text-center lg:text-4xl border-b p-10 lg:p-16">Que opinan nuetros clientes?</h2>
<section class="contenedor flex flex-col md:grid md:grid-flow-row-3 md:grid-cols-3  md:gap-5 p-8">
    <div class="card md:hidden flex mt-5 md:mt-0 rounded-md item-center justify-center">
        <img src="/img/opinion/01.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/02.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/03.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/04.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/05.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/06.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/07.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/08.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/09.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/10.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/13.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/14.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/15.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/16.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/17.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/18.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/19.webp" width="900" height="372" title="img">
    </div>
    <div class="card w-[25rem] mt-5 md:mt-0 rounded-md flex item-center justify-center">
        <img src="/img/opinion/20.webp" width="900" height="372" title="img">
    </div>
</section>

<style>
    .card{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit:cover;
        border: 1px solid black;
        padding: .5rem;
        background-color: rgb(0, 49, 86) ;
        
    }
    .contenedor{
        widows: 80%;
        margin: 0 auto;
        flex-wrap: nowrap;
        flex-basis: 0;
        flex-shrink: 1;
        flex-grow: 1;

    }

</style>