
<h2 class=" text-3xl lg:text-5xl font-extrabold text-sky-600 text-center mt-10">Nuestra galeria de proyectos</h2>
<section class=" flex flex-col md:grid md:grid-cols-2 lg:grid lg:grid-cols-2 lg:gap-5  lg:justify-evenly">
   <div>
    <div class="proyecto2 flex items-center aspect-video w-[90%] mx-auto mt-10 rounded-md  lg:h-[25rem] lg:w-auto">
        <h2 class="w-[60%] h-[4rem] bg-[#ffffffd3] text-sky-700 font-extrabold text-2xl flex items-center justify-center">Cocina Americana</h2>
    </div>
    <p class=" mx-auto w-[90%] text-center text-lg border-b text-black p-5">Tu cocina es un lugar especial y nuestro equipo de profesionales se encargaran de hacerlo realidad.</p>

   </div>

  <div>
    <div class="proyecto flex items-center aspect-video w-[90%] mx-auto mt-10 rounded-md  lg:h-[25rem] lg:w-auto">
        <h2 class="w-[40%] h-[4rem] bg-[#ffffffd3] text-sky-700 font-extrabold text-2xl flex items-center justify-center">Baños</h2>
    </div>
    <p class=" mx-auto w-[90%] text-center text-lg border-b text-black p-5">Renueva tu baño con preciosos acabados, materiales de la mejor calidad y todo al detalle.</p>
  </div>

  <div>
    <div class="proyecto10 flex items-center aspect-video w-[90%] mx-auto mt-10 rounded-md  lg:h-[25rem] lg:w-auto">
        <h2 class="w-[60%] h-[4rem] bg-[#ffffffd3] text-sky-700 font-extrabold text-2xl flex items-center justify-center">Baño Personalizado</h2>
    </div>
    <p class=" mx-auto w-[90%] text-center text-lg border-b text-black p-5">Personalizamos tu baño apegandonos estrictamente a tus requerimientos para que tengas el mejor resultado.</p>
  </div>

  <div>
    <div class="proyecto8 flex items-center aspect-video w-[90%] mx-auto mt-10 rounded-md  lg:h-[25rem] lg:w-auto">
        <h2 class="w-[60%] h-[4rem] bg-[#ffffffd3] text-sky-700 font-extrabold text-2xl flex items-center justify-center">Hermoso Salon</h2>
    </div>
    <p class=" mx-auto w-[90%] text-center text-lg border-b text-black p-5">Somos expertos en pladur iluminaciones techos y tabique dando como resultado preciosos acabados.</p>
  </div>

  <div>
    <div class="proyecto3 flex items-center aspect-video w-[90%] mx-auto mt-10 rounded-md  lg:h-[25rem] lg:w-auto">
        <h2 class="w-[60%] h-[4rem] bg-[#ffffffd3] text-sky-700 font-extrabold text-2xl flex items-center justify-center">Preciosos Acabados</h2>
    </div>
    <p class=" mx-auto w-[90%] text-center text-lg border-b text-black p-5">Cuidamos todos los detalles para que el resultado sea perfecto con una correcta implementacion de los colores.</p>
  </div>

  

  <div>
    <div class="proyecto5 flex items-center aspect-video w-[90%] mx-auto mt-10 rounded-md  lg:h-[25rem] lg:w-auto">
        <h2 class="w-[60%] h-[4rem] bg-[#ffffffd3] text-sky-700 font-extrabold text-2xl flex items-center justify-center">Baño Moderno</h2>
    </div>
    <p class=" mx-auto w-[90%] text-center text-lg border-b text-black p-5">Baño moderno aprovechando todo los espacios para un resultado optimo.</p>
  </div>

  <div>
    <div class="proyecto9 flex items-center aspect-video w-[90%] mx-auto mt-10 rounded-md  lg:h-[25rem] lg:w-auto">
        <h2 class="w-[60%] h-[4rem] bg-[#ffffffd3] text-sky-700 font-extrabold text-2xl flex items-center justify-center">Sala y cocina </h2>
    </div>
    <p class=" mx-auto w-[90%] text-center text-lg border-b text-black p-5">Sala y cocina con bellos muebles en color gris en un fondo blanco acogedor y relajante.</p>
  </div>
 
  <div>
    <div class="proyecto7 flex items-center aspect-video w-[90%] mx-auto mt-10 rounded-md  lg:h-[25rem] lg:w-auto">
        <h2 class="w-[60%] h-[4rem] bg-[#ffffffd3] text-sky-700 font-extrabold text-2xl flex items-center justify-center">Cocina Moderna</h2>
    </div>
    <p class=" mx-auto w-[90%] text-center text-lg border-b text-black p-5">Bella cocina con acabados en color blanco techo de pladur y superficies de marmol blanco.</p>
  </div>
 



</section>



<style>
    .proyecto{
        background-image: url(/img/01.webp);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .proyecto2{
        background-image: url(/img/02.webp);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .proyecto3{
        background-image: url(/img/04.webp);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .proyecto4{
        background-image: url(/img/05.webp);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .proyecto5{
        background-image: url(/img/06.webp);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .proyecto8{
        background-image: url(/img/08.webp);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .proyecto7{
        background-image: url(/img/07.webp);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .proyecto9{
        background-image: url(/img/09.webp);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .proyecto10{
        background-image: url(/img/10.webp);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    
  

</style>